<title>TinyApp</title>

<h1><u>Tiny App</u></h1>


<% if(user){ %>
    <div>
        Username: <%= user.email %>
        <form method="POST" style="display: inline;" action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div> 

  <% } else{ %>  
    <a href="/login">Login</a>
    <a href="/register">Register </a>

 <% } %>

<div>-------------------------------------------------------------------------------------</div>