<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body { 
                margin: 120px;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
                <% include partials/_header %>

        <ul>
            <li> ShortURL: <%=shortURL%> </li> 
        </ul>
        <form method="POST" style="display: inline;" action="/urls/<%=shortURL%>">
            <input type="text" name="longURL" style="width: 200px">
            <button type="submit">Update</button>
        </form>
    </body>
</html>