<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body { 
                margin: 120px;
                font-size: 20px;
            } 
        </style>
    </head>
    <body>
        
            <% include partials/_header %>
      
        
        file: urls_index.ejs

        <% if(user){ %>
            <div>
                <a href=http://localhost:8080/urls/new >Create a new URL</a>
            </div>
          <% } else{ %>  
         <% } %>

        <% for (key in urls) { %>
        <ul>
            <li>
                <%= key %> : <%=urls[key].longURL %>
            
                <form style="display: inline;" method="POST" action="/urls/<%= key %>/delete">
                    <button type="submit"> Delete 🗑 </button>
                </form>
                <a href="/urls/<%= key %>">  edit </a>
            </li>
        </ul>
        <% } %>
        
    </body>
</html>